### Packages and Data

Important Functions:
https://scikit-learn.org/stable/modules/feature_selection.html

https://scikit-learn.org/stable/modules/generated/sklearn.linear_model.Lasso.html#sklearn.linear_model.Lasso

https://scikit-learn.org/stable/modules/generated/sklearn.linear_model.LinearRegression.html#sklearn.linear_model.LinearRegression

https://scikit-learn.org/stable/modules/generated/sklearn.impute.SimpleImputer.html

In [1]:
import numpy as np
import pandas as pd

In [2]:
data = pd.read_csv("train.csv")
macro = pd.read_csv("macro.csv")

### Features

**Constraints**
1. As many rows as possible, don't drop rows unless you have good reason
2. No more than 50 features
    + At most 10 of those come from macro.csv
3. Don't dummify geographic variables
    + You can dummify product_type if you want
4. Can't include timestamp
    + Some macro.csv variables can stand in for these cause they're by day
5. You can combine columns from macro.csv and train.csv to make new features
6. Can use any packages you want
7. All variables will be numeric
8. Must be able to explain why you chose all your variables

In [3]:
data.drop(["id", "timestamp"], axis=1)

,full_sq,life_sq,floor,max_floor,material,build_year,num_room,kitch_sq,state,product_type,...,cafe_count_5000_price_2500,cafe_count_5000_price_4000,cafe_count_5000_price_high,big_church_count_5000,church_count_5000,mosque_count_5000,leisure_count_5000,sport_count_5000,market_count_5000,price_doc
0,43,27.0,4.0,NaN,NaN,NaN,NaN,NaN,NaN,Investment,...,9,4,0,13,22,1,0,52,4,5850000
1,34,19.0,3.0,NaN,NaN,NaN,NaN,NaN,NaN,Investment,...,15,3,0,15,29,1,10,66,14,6000000
2,43,29.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN,Investment,...,10,3,0,11,27,0,4,67,10,5700000
3,89,50.0,9.0,NaN,NaN,NaN,NaN,NaN,NaN,Investment,...,11,2,1,4,4,0,0,26,3,13100000
4,77,77.0,4.0,NaN,NaN,NaN,NaN,NaN,NaN,Investment,...,319,108,17,135,236,2,91,195,14,16331452
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
30466,44,27.0,7.0,9.0,1.0,1975.0,2.0,6.0,3.0,Investment,...,15,5,0,15,26,1,2,84,6,7400000
30467,86,59.0,3.0,9.0,2.0,1935.0,4.0,10.0,3.0,Investment,...,313,128,24,98,182,1,82,171,15,25000000
30468,45,NaN,10.0,20.0,1.0,NaN,1.0,1.0,1.0,OwnerOccupier,...,1,1,0,2,12,0,1,11,1,6970959
30469,64,32.0,5.0,15.0,1.0,2003.0,2.0,11.0,2.0,Investment,...,22,1,1,6,31,1,4,65,7,13500000
30470,43,28.0,1.0,9.0,1.0,1968.0,2.0,6.0,2.0,Investment,...,5,2,0,7,16,0,9,54,10,5600000

In [ ]:
for col in list(data.columns):
    print(col)
    
# Property attributes:
    # full_sq
    # floor
    # build_year
    # num_room
    # state (condition)

# Neighborhood attributes:
    # full_all (population, but there's also raion_popul and idk the difference)
    # work_all (working age population)
    # young_all (lower than working age population)
    # green_zone_part (proportion of area that's greenery)
    # indust_part (proportion of area that's industrial)
    # culture_objects_top_25_raion (number of objects of cultural heritage)
    # shopping_center_raion
    # oil_chemistry_raion (presence of dirty industries)
    # radiation_raion (presence of radiation disposal)
    # big_market_raion (presence of large grocery / wholesale markets)
    # detention_facility_raion (presence of prison)
    # metro_min_walk (walking time to metro)
    # park_km (distance to park)
    # railroad_station_walk_km (distance to railroad station walking)
    # kremlin_km (distance to city center/Kremlin)

In [4]:
for col in list(macro.columns):
    print(col)

timestamp
oil_urals
gdp_quart
gdp_quart_growth
cpi
ppi
gdp_deflator
balance_trade
balance_trade_growth
usdrub
eurrub
brent
net_capital_export
gdp_annual
gdp_annual_growth
average_provision_of_build_contract
average_provision_of_build_contract_moscow
rts
micex
micex_rgbi_tr
micex_cbi_tr
deposits_value
deposits_growth
deposits_rate
mortgage_value
mortgage_growth
mortgage_rate
grp
grp_growth
income_per_cap
real_dispos_income_per_cap_growth
salary
salary_growth
fixed_basket
retail_trade_turnover
retail_trade_turnover_per_cap
retail_trade_turnover_growth
labor_force
unemployment
employment
invest_fixed_capital_per_cap
invest_fixed_assets
profitable_enterpr_share
unprofitable_enterpr_share
share_own_revenues
overdue_wages_per_cap
fin_res_per_cap
marriages_per_1000_cap
divorce_rate
construction_value
invest_fixed_assets_phys
pop_natural_increase
pop_migration
pop_total_inc
childbirth
mortality
housing_fund_sqm
lodging_sqm_per_cap
water_pipes_share
baths_share
sewerage_share
gas_share
hot_water_share
electric_stove_share
heating_share
old_house_share
average_life_exp
infant_mortarity_per_1000_cap
perinatal_mort_per_1000_cap
incidence_population
rent_price_4+room_bus
rent_price_3room_bus
rent_price_2room_bus
rent_price_1room_bus
rent_price_3room_eco
rent_price_2room_eco
rent_price_1room_eco
load_of_teachers_preschool_per_teacher
child_on_acc_pre_school
load_of_teachers_school_per_teacher
students_state_oneshift
modern_education_share
old_education_build_share
provision_doctors
provision_nurse
load_on_doctors
power_clinics
hospital_beds_available_per_cap
hospital_bed_occupancy_per_year
provision_retail_space_sqm
provision_retail_space_modern_sqm
turnover_catering_per_cap
theaters_viewers_per_1000_cap
seats_theather_rfmin_per_100000_cap
museum_visitis_per_100_cap
bandwidth_sports
population_reg_sports_share
students_reg_sports_share
apartment_build
apartment_fund_sqm